<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WISE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <listener>
  		<listener-class>remote.wise.handler.KafkaConsumerListener</listener-class>
  </listener>
   <servlet>
    <servlet-name>com.wipro.mcoreapp.webservice.RestApplication</servlet-name>  
    <servlet-class>com.wipro.mcoreapp.webservice.RestApplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.wipro.mcoreapp.webservice.RestApplication</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AssetGateoutService</display-name>
    <servlet-name>AssetGateoutService</servlet-name>
    <servlet-class>remote.wise.service.webservice.AssetGateoutService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetGateoutService</servlet-name>
    <url-pattern>/AssetGateoutService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AssetProvisioningService</display-name>
    <servlet-name>AssetProvisioningService</servlet-name>
    <servlet-class>remote.wise.service.webservice.AssetProvisioningService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetProvisioningService</servlet-name>
    <url-pattern>/AssetProvisioningService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LandmarkActivityReportService</display-name>
    <servlet-name>LandmarkActivityReportService</servlet-name>
    <servlet-class>remote.wise.service.webservice.LandmarkActivityReportService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LandmarkActivityReportService</servlet-name>
    <url-pattern>/LandmarkActivityReportService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MachineActivityReportService</display-name>
    <servlet-name>MachineActivityReportService</servlet-name>
    <servlet-class>remote.wise.service.webservice.MachineActivityReportService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MachineActivityReportService</servlet-name>
    <url-pattern>/MachineActivityReportService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UnderUtilizedMachinesService</display-name>
    <servlet-name>UnderUtilizedMachinesService</servlet-name>
    <servlet-class>remote.wise.service.webservice.UnderUtilizedMachinesService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnderUtilizedMachinesService</servlet-name>
    <url-pattern>/UnderUtilizedMachinesService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>XsdParsingService</display-name>
    <servlet-name>XsdParsingService</servlet-name>
    <servlet-class>remote.wise.service.webservice.XsdParsingService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XsdParsingService</servlet-name>
    <url-pattern>/XsdParsingService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>NotificationReportDetailsService</display-name>
    <servlet-name>NotificationReportDetailsService</servlet-name>
    <servlet-class>remote.wise.service.webservice.NotificationReportDetailsService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationReportDetailsService</servlet-name>
    <url-pattern>/NotificationReportDetailsService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UserPreferenceService</display-name>
    <servlet-name>UserPreferenceService</servlet-name>
    <servlet-class>remote.wise.service.webservice.UserPreferenceService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPreferenceService</servlet-name>
    <url-pattern>/UserPreferenceService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SearchService</display-name>
    <servlet-name>SearchService</servlet-name>
    <servlet-class>remote.wise.service.webservice.SearchService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchService</servlet-name>
    <url-pattern>/SearchService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VinRegistrationService</display-name>
    <servlet-name>VinRegistrationService</servlet-name>
    <servlet-class>remote.wise.service.webservice.VinRegistrationService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VinRegistrationService</servlet-name>
    <url-pattern>/VinRegistrationService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MachineProfileService</display-name>
    <servlet-name>MachineProfileService</servlet-name>
    <servlet-class>remote.wise.service.webservice.MachineProfileService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MachineProfileService</servlet-name>
    <url-pattern>/MachineProfileService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AlertThresholdSettingsService</display-name>
    <servlet-name>AlertThresholdSettingsService</servlet-name>
    <servlet-class>remote.wise.service.webservice.AlertThresholdSettingsService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlertThresholdSettingsService</servlet-name>
    <url-pattern>/AlertThresholdSettingsService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UserAlertPreferenceService</display-name>
    <servlet-name>UserAlertPreferenceService</servlet-name>
    <servlet-class>remote.wise.service.webservice.UserAlertPreferenceService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAlertPreferenceService</servlet-name>
    <url-pattern>/UserAlertPreferenceService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>JcbRollOffService</display-name>
    <servlet-name>JcbRollOffService</servlet-name>
    <servlet-class>remote.wise.service.webservice.JcbRollOffService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JcbRollOffService</servlet-name>
    <url-pattern>/JcbRollOffService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AssetExtendedService</display-name>
    <servlet-name>AssetExtendedService</servlet-name>
    <servlet-class>remote.wise.service.webservice.AssetExtendedService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetExtendedService</servlet-name>
    <url-pattern>/AssetExtendedService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AssetPersonalityService</display-name>
    <servlet-name>AssetPersonalityService</servlet-name>
    <servlet-class>remote.wise.service.webservice.AssetPersonalityService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetPersonalityService</servlet-name>
    <url-pattern>/AssetPersonalityService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AlertSummaryService</display-name>
    <servlet-name>AlertSummaryService</servlet-name>
    <servlet-class>remote.wise.service.webservice.AlertSummaryService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlertSummaryService</servlet-name>
    <url-pattern>/AlertSummaryService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AssetSaleFromD2Cservice</display-name>
    <servlet-name>AssetSaleFromD2Cservice</servlet-name>
    <servlet-class>remote.wise.service.webservice.AssetSaleFromD2Cservice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetSaleFromD2Cservice</servlet-name>
    <url-pattern>/AssetSaleFromD2Cservice</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteLandmarkCategoryService</display-name>
    <servlet-name>DeleteLandmarkCategoryService</servlet-name>
    <servlet-class>remote.wise.service.webservice.DeleteLandmarkCategoryService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLandmarkCategoryService</servlet-name>
    <url-pattern>/DeleteLandmarkCategoryService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteLandmarkService</display-name>
    <servlet-name>DeleteLandmarkService</servlet-name>
    <servlet-class>remote.wise.service.webservice.DeleteLandmarkService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLandmarkService</servlet-name>
    <url-pattern>/DeleteLandmarkService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ResetPasswordService</display-name>
    <servlet-name>ResetPasswordService</servlet-name>
    <servlet-class>remote.wise.service.webservice.ResetPasswordService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordService</servlet-name>
    <url-pattern>/ResetPasswordService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>FilterService</display-name>
    <servlet-name>FilterService</servlet-name>
    <servlet-class>remote.wise.service.webservice.FilterService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterService</servlet-name>
    <url-pattern>/FilterService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteUserService</display-name>
    <servlet-name>DeleteUserService</servlet-name>
    <servlet-class>remote.wise.service.webservice.DeleteUserService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserService</servlet-name>
    <url-pattern>/DeleteUserService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetDealersForZoneService</display-name>
    <servlet-name>GetDealersForZoneService</servlet-name>
    <servlet-class>remote.wise.service.webservice.GetDealersForZoneService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDealersForZoneService</servlet-name>
    <url-pattern>/GetDealersForZoneService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MachineHoursReportService</display-name>
    <servlet-name>MachineHoursReportService</servlet-name>
    <servlet-class>remote.wise.service.webservice.MachineHoursReportService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MachineHoursReportService</servlet-name>
    <url-pattern>/MachineHoursReportService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MachineHoursServiceReportService</display-name>
    <servlet-name>MachineHoursServiceReportService</servlet-name>
    <servlet-class>remote.wise.service.webservice.MachineHoursServiceReportService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MachineHoursServiceReportService</servlet-name>
    <url-pattern>/MachineHoursServiceReportService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MachinePerformanceReportService</display-name>
    <servlet-name>MachinePerformanceReportService</servlet-name>
    <servlet-class>remote.wise.service.webservice.MachinePerformanceReportService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MachinePerformanceReportService</servlet-name>
    <url-pattern>/MachinePerformanceReportService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServiceScheduleService</display-name>
    <servlet-name>ServiceScheduleService</servlet-name>
    <servlet-class>remote.wise.service.webservice.ServiceScheduleService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceScheduleService</servlet-name>
    <url-pattern>/ServiceScheduleService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AlertDetailsService</display-name>
    <servlet-name>AlertDetailsService</servlet-name>
    <servlet-class>remote.wise.service.webservice.AlertDetailsService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlertDetailsService</servlet-name>
    <url-pattern>/AlertDetailsService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AdminAlertPrefService</display-name>
    <servlet-name>AdminAlertPrefService</servlet-name>
    <servlet-class>remote.wise.service.webservice.AdminAlertPrefService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAlertPrefService</servlet-name>
    <url-pattern>/AdminAlertPrefService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AssetGroupTypeService</display-name>
    <servlet-name>AssetGroupTypeService</servlet-name>
    <servlet-class>remote.wise.service.webservice.AssetGroupTypeService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetGroupTypeService</servlet-name>
    <url-pattern>/AssetGroupTypeService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AssetOwnershipManagementService</display-name>
    <servlet-name>AssetOwnershipManagementService</servlet-name>
    <servlet-class>remote.wise.service.webservice.AssetOwnershipManagementService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetOwnershipManagementService</servlet-name>
    <url-pattern>/AssetOwnershipManagementService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EventSubscriptionService</display-name>
    <servlet-name>EventSubscriptionService</servlet-name>
    <servlet-class>remote.wise.service.webservice.EventSubscriptionService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventSubscriptionService</servlet-name>
    <url-pattern>/EventSubscriptionService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PendingTenancyCreationService</display-name>
    <servlet-name>PendingTenancyCreationService</servlet-name>
    <servlet-class>remote.wise.service.webservice.PendingTenancyCreationService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingTenancyCreationService</servlet-name>
    <url-pattern>/PendingTenancyCreationService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MachineHealthDetailsService</display-name>
    <servlet-name>MachineHealthDetailsService</servlet-name>
    <servlet-class>remote.wise.service.webservice.MachineHealthDetailsService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MachineHealthDetailsService</servlet-name>
    <url-pattern>/MachineHealthDetailsService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TenancyAssetsService</display-name>
    <servlet-name>TenancyAssetsService</servlet-name>
    <servlet-class>remote.wise.service.webservice.TenancyAssetsService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TenancyAssetsService</servlet-name>
    <url-pattern>/TenancyAssetsService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>StockSummaryService</display-name>
    <servlet-name>StockSummaryService</servlet-name>
    <servlet-class>remote.wise.service.webservice.StockSummaryService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockSummaryService</servlet-name>
    <url-pattern>/StockSummaryService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UtilizationDetailService</display-name>
    <servlet-name>UtilizationDetailService</servlet-name>
    <servlet-class>remote.wise.service.webservice.UtilizationDetailService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilizationDetailService</servlet-name>
    <url-pattern>/UtilizationDetailService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>FuelUtilizationDetailService</display-name>
    <servlet-name>FuelUtilizationDetailService</servlet-name>
    <servlet-class>remote.wise.service.webservice.FuelUtilizationDetailService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuelUtilizationDetailService</servlet-name>
    <url-pattern>/FuelUtilizationDetailService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DownloadAempService</display-name>
    <servlet-name>DownloadAempService</servlet-name>
    <servlet-class>remote.wise.service.webservice.DownloadAempService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadAempService</servlet-name>
    <url-pattern>/DownloadAempService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UserAuthenticationService</display-name>
    <servlet-name>UserAuthenticationService</servlet-name>
    <servlet-class>remote.wise.service.webservice.UserAuthenticationService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAuthenticationService</servlet-name>
    <url-pattern>/UserAuthenticationService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginRegistrationService</display-name>
    <servlet-name>LoginRegistrationService</servlet-name>
    <servlet-class>remote.wise.service.webservice.LoginRegistrationService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginRegistrationService</servlet-name>
    <url-pattern>/LoginRegistrationService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UtilizationSummaryReportService</display-name>
    <servlet-name>UtilizationSummaryReportService</servlet-name>
    <servlet-class>remote.wise.service.webservice.UtilizationSummaryReportService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilizationSummaryReportService</servlet-name>
    <url-pattern>/UtilizationSummaryReportService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UtilizationDetailReportService</display-name>
    <servlet-name>UtilizationDetailReportService</servlet-name>
    <servlet-class>remote.wise.service.webservice.UtilizationDetailReportService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilizationDetailReportService</servlet-name>
    <url-pattern>/UtilizationDetailReportService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServiceDueOverDueService</display-name>
    <servlet-name>ServiceDueOverDueService</servlet-name>
    <servlet-class>remote.wise.service.webservice.ServiceDueOverDueService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceDueOverDueService</servlet-name>
    <url-pattern>/ServiceDueOverDueService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ReportMasterListService</display-name>
    <servlet-name>ReportMasterListService</servlet-name>
    <servlet-class>remote.wise.service.webservice.ReportMasterListService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportMasterListService</servlet-name>
    <url-pattern>/ReportMasterListService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DealersUnderZoneService</display-name>
    <servlet-name>DealersUnderZoneService</servlet-name>
    <servlet-class>remote.wise.service.webservice.DealersUnderZoneService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealersUnderZoneService</servlet-name>
    <url-pattern>/DealersUnderZoneService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UserAlertsService</display-name>
    <servlet-name>UserAlertsService</servlet-name>
    <servlet-class>remote.wise.service.webservice.UserAlertsService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAlertsService</servlet-name>
    <url-pattern>/UserAlertsService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TenancyDetailsService</display-name>
    <servlet-name>TenancyDetailsService</servlet-name>
    <servlet-class>remote.wise.service.webservice.TenancyDetailsService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TenancyDetailsService</servlet-name>
    <url-pattern>/TenancyDetailsService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CustomersUnderDealerService</display-name>
    <servlet-name>CustomersUnderDealerService</servlet-name>
    <servlet-class>remote.wise.service.webservice.CustomersUnderDealerService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomersUnderDealerService</servlet-name>
    <url-pattern>/CustomersUnderDealerService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UserDetailsService</display-name>
    <servlet-name>UserDetailsService</servlet-name>
    <servlet-class>remote.wise.service.webservice.UserDetailsService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailsService</servlet-name>
    <url-pattern>/UserDetailsService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MachineDueOverdueReportService</display-name>
    <servlet-name>MachineDueOverdueReportService</servlet-name>
    <servlet-class>remote.wise.service.webservice.MachineDueOverdueReportService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MachineDueOverdueReportService</servlet-name>
    <url-pattern>/MachineDueOverdueReportService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LandmarkDetailsService</display-name>
    <servlet-name>LandmarkDetailsService</servlet-name>
    <servlet-class>remote.wise.service.webservice.LandmarkDetailsService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LandmarkDetailsService</servlet-name>
    <url-pattern>/LandmarkDetailsService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ForgotPasswordService</display-name>
    <servlet-name>ForgotPasswordService</servlet-name>
    <servlet-class>remote.wise.service.webservice.ForgotPasswordService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordService</servlet-name>
    <url-pattern>/ForgotPasswordService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ModelService</display-name>
    <servlet-name>ModelService</servlet-name>
    <servlet-class>remote.wise.service.webservice.ModelService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModelService</servlet-name>
    <url-pattern>/ModelService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RoleService</display-name>
    <servlet-name>RoleService</servlet-name>
    <servlet-class>remote.wise.service.webservice.RoleService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleService</servlet-name>
    <url-pattern>/RoleService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AssetGroupService</display-name>
    <servlet-name>AssetGroupService</servlet-name>
    <servlet-class>remote.wise.service.webservice.AssetGroupService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetGroupService</servlet-name>
    <url-pattern>/AssetGroupService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UserAssetDetailsService</display-name>
    <servlet-name>UserAssetDetailsService</servlet-name>
    <servlet-class>remote.wise.service.webservice.UserAssetDetailsService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAssetDetailsService</servlet-name>
    <url-pattern>/UserAssetDetailsService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LandmarkCategoryService</display-name>
    <servlet-name>LandmarkCategoryService</servlet-name>
    <servlet-class>remote.wise.service.webservice.LandmarkCategoryService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LandmarkCategoryService</servlet-name>
    <url-pattern>/LandmarkCategoryService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AuditLogDetailsService</display-name>
    <servlet-name>AuditLogDetailsService</servlet-name>
    <servlet-class>remote.wise.service.webservice.AuditLogDetailsService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuditLogDetailsService</servlet-name>
    <url-pattern>/AuditLogDetailsService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MapService</display-name>
    <servlet-name>MapService</servlet-name>
    <servlet-class>remote.wise.service.webservice.MapService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapService</servlet-name>
    <url-pattern>/MapService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ForgotLoginIDService</display-name>
    <servlet-name>ForgotLoginIDService</servlet-name>
    <servlet-class>remote.wise.service.webservice.ForgotLoginIDService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotLoginIDService</servlet-name>
    <url-pattern>/ForgotLoginIDService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServiceHistoryDetailsService</display-name>
    <servlet-name>ServiceHistoryDetailsService</servlet-name>
    <servlet-class>remote.wise.service.webservice.ServiceHistoryDetailsService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceHistoryDetailsService</servlet-name>
    <url-pattern>/ServiceHistoryDetailsService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CustomerRequiringService</display-name>
    <servlet-name>CustomerRequiringService</servlet-name>
    <servlet-class>remote.wise.service.webservice.CustomerRequiringService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRequiringService</servlet-name>
    <url-pattern>/CustomerRequiringService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MasterServiceSchedule</display-name>
    <servlet-name>MasterServiceSchedule</servlet-name>
    <servlet-class>remote.wise.service.webservice.MasterServiceSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServiceSchedule</servlet-name>
    <url-pattern>/MasterServiceSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SavedReportService</display-name>
    <servlet-name>SavedReportService</servlet-name>
    <servlet-class>remote.wise.service.webservice.SavedReportService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavedReportService</servlet-name>
    <url-pattern>/SavedReportService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>NotificationSummaryService</display-name>
    <servlet-name>NotificationSummaryService</servlet-name>
    <servlet-class>remote.wise.service.webservice.NotificationSummaryService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationSummaryService</servlet-name>
    <url-pattern>/NotificationSummaryService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>FleetSummaryReportService</display-name>
    <servlet-name>FleetSummaryReportService</servlet-name>
    <servlet-class>remote.wise.service.webservice.FleetSummaryReportService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FleetSummaryReportService</servlet-name>
    <url-pattern>/FleetSummaryReportService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AssetServiceScheduleService</display-name>
    <servlet-name>AssetServiceScheduleService</servlet-name>
    <servlet-class>remote.wise.service.webservice.AssetServiceScheduleService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetServiceScheduleService</servlet-name>
    <url-pattern>/AssetServiceScheduleService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AssetGroupUsersService</display-name>
    <servlet-name>AssetGroupUsersService</servlet-name>
    <servlet-class>remote.wise.service.webservice.AssetGroupUsersService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetGroupUsersService</servlet-name>
    <url-pattern>/AssetGroupUsersService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetForgotLoginIDService</display-name>
    <servlet-name>GetForgotLoginIDService</servlet-name>
    <servlet-class>remote.wise.service.webservice.GetForgotLoginIDService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetForgotLoginIDService</servlet-name>
    <url-pattern>/GetForgotLoginIDService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AssetEventLogService</display-name>
    <servlet-name>AssetEventLogService</servlet-name>
    <servlet-class>remote.wise.service.webservice.AssetEventLogService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetEventLogService</servlet-name>
    <url-pattern>/AssetEventLogService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LandmarkAssetService</display-name>
    <servlet-name>LandmarkAssetService</servlet-name>
    <servlet-class>remote.wise.service.webservice.LandmarkAssetService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LandmarkAssetService</servlet-name>
    <url-pattern>/LandmarkAssetService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>FleetSummaryService</display-name>
    <servlet-name>FleetSummaryService</servlet-name>
    <servlet-class>remote.wise.service.webservice.FleetSummaryService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FleetSummaryService</servlet-name>
    <url-pattern>/FleetSummaryService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ReportSubscriptionService</display-name>
    <servlet-name>ReportSubscriptionService</servlet-name>
    <servlet-class>remote.wise.service.webservice.ReportSubscriptionService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportSubscriptionService</servlet-name>
    <url-pattern>/ReportSubscriptionService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AssetDiagnosticService</display-name>
    <servlet-name>AssetDiagnosticService</servlet-name>
    <servlet-class>remote.wise.service.webservice.AssetDiagnosticService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetDiagnosticService</servlet-name>
    <url-pattern>/AssetDiagnosticService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Resteasy1</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>remote.wise.service.webservice.PullSMS</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Resteasy2</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>remote.wise.service.webservice.SMSPktListener</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy1</servlet-name>
    <url-pattern>/PullSMS/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Resteasy2</servlet-name>
    <url-pattern>/SMSListener</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
  </listener>
  <servlet>
    <display-name>CurrentAssetOwnerDetailsService</display-name>
    <servlet-name>CurrentAssetOwnerDetailsService</servlet-name>
    <servlet-class>remote.wise.service.webservice.CurrentAssetOwnerDetailsService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrentAssetOwnerDetailsService</servlet-name>
    <url-pattern>/CurrentAssetOwnerDetailsService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AssetDashboardService</display-name>
    <servlet-name>AssetDashboardService</servlet-name>
    <servlet-class>remote.wise.service.webservice.AssetDashboardService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetDashboardService</servlet-name>
    <url-pattern>/AssetDashboardService</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Resteasy4</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>remote.wise.service.webservice.HAJsendSMSpktListener</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy4</servlet-name>
    <url-pattern>/HAJsendSMSpkt</url-pattern>
  </servlet-mapping>
 <servlet>
    <display-name>ModelCodeService</display-name>
    <servlet-name>ModelCodeService</servlet-name>
    <servlet-class>remote.wise.service.webservice.ModelCodeService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModelCodeService</servlet-name>
    <url-pattern>/ModelCodeService</url-pattern>
  </servlet-mapping>
   <servlet>
    <display-name>ZonalAccountCodeService</display-name>
    <servlet-name>ZonalAccountCodeService</servlet-name>
    <servlet-class>remote.wise.service.webservice.ZonalAccountCodeService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZonalAccountCodeService</servlet-name>
    <url-pattern>/ZonalAccountCodeService</url-pattern>
  </servlet-mapping>
   <servlet>
    <display-name>CustomersCodeUnderDealerCodeService</display-name>
    <servlet-name>CustomersCodeUnderDealerCodeService</servlet-name>
    <servlet-class>remote.wise.service.webservice.CustomersCodeUnderDealerCodeService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomersCodeUnderDealerCodeService</servlet-name>
    <url-pattern>/CustomersCodeUnderDealerCodeService</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <display-name>EventNameService</display-name>
    <servlet-name>EventNameService</servlet-name>
    <servlet-class>remote.wise.service.webservice.EventNameService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventNameService</servlet-name>
    <url-pattern>/EventNameService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>EventTypeService</display-name>
    <servlet-name>EventTypeService</servlet-name>
    <servlet-class>remote.wise.service.webservice.EventTypeService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventTypeService</servlet-name>
    <url-pattern>/EventTypeService</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <display-name>StateService</display-name>
    <servlet-name>StateService</servlet-name>
    <servlet-class>remote.wise.service.webservice.StateService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateService</servlet-name>
    <url-pattern>/StateService</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <display-name>CityService</display-name>
    <servlet-name>CityService</servlet-name>
    <servlet-class>remote.wise.service.webservice.CityService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityService</servlet-name>
    <url-pattern>/CityService</url-pattern>
  </servlet-mapping>
  <!--  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
    <param-name>javax.ws.rs.Application</param-name>
    <param-value>remote.wise.service.webservice.DayAggMigrationApplication</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping> -->
 <!-- DF20160502 @Roopa Adding model service tenancy service in the generic REST Application -->
 <!--  <servlet>
    <servlet-name>Resteasy25</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
    <param-name>javax.ws.rs.Application</param-name>
    <param-value>remote.wise.service.webservice.AppicationCodeProfileCodeApplication</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy25</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping> -->
  <!-- DF20160707@jayashri for updateAddress-->
     <servlet>
    <servlet-name>GeocodeService</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
    <param-name>javax.ws.rs.Application</param-name>
    <param-value>remote.wise.service.webservice.GeocodingApplication</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeocodeService</servlet-name>
    <url-pattern>/GeocodingService</url-pattern>
  </servlet-mapping>
  
</web-app>